<tr>
	<td><%= link_to problem.short_name, kaas_path(problem.server, problem.short_name) %></td>
	<td><%= problem.name %></td>
	<% if logged_in? %>
		<td>
			<% unless attempted[problem.id].nil? %> 
				<span class="fa fa-<%= attempted[problem.id] ? "check" : "times" %>" data-toggle="tooltip" data-placement="left" title="You have <%= attempted[problem.id] ? "solved" : "attempted" %> this problem"></span>
			<% end %>
		</td>
	<% end %>
	<td><%= acsubs[problem.id] or 0 %>/<%= subs[problem.id] or 0 %></td>
</tr>
