<%- title @problem.short_name %>
<%- content_for(:sub_header) do %>
	<%= @problem.name %>
	<%if logged_in? %>
		<% if @solved %>
			<span class="fa fa-check"></span>
		<% elsif @attempted %>	
			<span class="fa fa-times"></span>
		<% end %>
	<% end %>
<% end %>

<ul id="problem-tabs" class="nav nav-tabs" role="tablist">
	<li class="active" role="presentation"><a href="#statement" aria-controls="statement" role="tab" data-toggle="tab">Problem Statement</a></li>
	<% if @accepted.empty? %>
		<li class="disabled px-4"><a>Nobody has solved this problem yet</a></li>
	<% else %>
		<li role="presentation" class="px-4"><a href="#users" aria-controls="statement" role="tab" data-toggle="tab">Users who solved this problem (<%= @accepted.count %>)</a></li>
	<% end %>
		<li role="presentation" class="px-4"><a href="#submit" aria-controls="statement" role="tab" data-toggle="tab">Submit</a></li>
		<li><a href="<%= random_path %>" data-turbolinks="false" style="border-color: transparent; background-color: transparent;"><button class="btn btn-default btn-sm no-ver-pad">I'm feeling lucky</button></a></li>

</ul>

<div class="tab-content">
	<div id="statement" class="tab-pane active">
		<object data="<%= statement_url @problem, @server %>" id="problem-pdf" type="application/pdf">
			<p>Your browser does not support embedding PDF files..</p>

			<%= link_to statement_url(@problem, @server) do %> 
				<button class="btn btn-primary">Open problem statement</button>
			<% end%>
		</object>
		
	</div>	
	<div id="users" class="tab-pane">
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>#Attempts</th>
					<th>When</th>
				</tr>
			</thead>
			<% @accepted.each do |a| %>
				<tr>
					<td><%= link_to a.account.name, a.account %></td>
					<td><%= @sub_count[a.account.id] %></td>
					<td><%= distance_of_time_in_words Time.now, a.created_at %> ago</td>
				</tr>
			<% end %>
		</table>
	</div>
	<div id="submit" class="tab-pane">
		<ul style="list-style-type: none;">
		   <li style="float:left"> 
		   	<%= form_tag("/submit", method: "get", id: "form", remote:true, multipart:true) do |f|%>
				  <%= label_tag(:file, "File:") %>
				  <%= file_field_tag(:file) %>  
				  <select hidden name="server_url" id="server_url">
				  	<option cid=<%=@server.contest_id%> value=<%=@server.url%>> <%=@server.name%></option>
				  </select>		  
				  <%= hidden_field_tag(:server_url, @server.url, selected: "selected", cid: @server.contest_id) %>
				  <%= hidden_field_tag(:problem_name, @problem.short_name) %>
				  <%= label_tag(:language, "Language:") %>
				  <%= select_tag(:language, options_for_select([['c', 'c'], ['java', 'java'], ['c++', 'cpp']])) %>
				  <br>
				  <%= text_area_tag(:code, nil, size: "60x20", placeholder: "Insert your code here") %>
				  <br>
				  <%= submit_tag("Submit", id: "test") %>		  
				<% end %>
			</li>
		    <li style="float:left"> 
			   	<% if logged_in? %>
			   		<div id="recently-solved">
						<h4>Your Submissions for this problem</h4>
						<table class="table">
					        <thead>
					         	<tr>
					        		<th>Accepted?</th>
					        		<th>Submitted</th>
					          </tr>
					        </thead>
					        <tbody>
					          <% @user_attempts.each do |submission| %>
					            <% if submission.problem_id %>
					            <tr class="<%= 'active' if user_account(submission.problem.server_id) == submission.account %>" >
					              <td><span class="fa <%= submission.icon %>" data-toggle="tooltip" data-placement="left" title="<%= submission.status_text %>"></span></td>              
					              <td><%= distance_of_time_in_words Time.current, submission.created_at -%> ago</td>
					            </tr>
					            <% end %>
					          <% end %>
					        </tbody>
				      </table>
					</div>
				<% end %>
		    </li>
		</ul>	
	</div>
</div>



