<% title @server.name -%>

<!--<%= link_to "Go to scoreboard", @server.url -%>-->

<ul id="server-tabs" class="nav nav-tabs" role="tablist">
	<li class="active" role="presentation"><a href="#feed" aria-controls="feed" role="tab" data-toggle="tab">Feed</a></li>
	<li role="presentation"><a href="#problems" aria-controls="problems" role="tab" data-toggle="tab">Problems</a></li>
	<li role="presentation"><a href="#users" aria-controls="users" role="tab" data-toggle="tab">Users</a></li>
</ul>

<div class="tab-content">
	<div role="tabpanel" id="feed" class="tab-pane active">
		<%= render partial: 'shared/submissions', object: @feed %>
	</div>

	<div role="tabpanel" id="problems" class="tab-pane">
		<%= render partial: "shared/problems", locals: {problems: @problems, server: @server} %>
	</div>

	<div role="tabpanel" id="users" class="tab-pane">
		<table class="table">
			<thead>
				<tr>
					<th>Rank</th>
					<th>Name</th>
					<th>Solved Problems</th>
				</tr>
			</thead>
			<% @accounts.each.with_index(1) do |a, i| -%>
				<tr>
					<td><%= i %></td>
					<td><%= link_to a.name, a -%></td>
					<td><%= a.solvedProblems -%></td>
				</tr>
			<% end -%>
		</table>
	</div>
</div>
