<% title "Signup" -%>

<p>Already have an account? <%= link_to "Log in", login_path %></p>

<%= bootstrap_form_for(@user) do |f| %>
	<%= render 'shared/error_messages' %>
	<%= f.text_field :name %>
	<%= f.text_field :username %>
	<%= f.text_field :email %>
	<%= f.password_field :password %>
	<%= f.password_field :password_confirmation %>
	<%= f.submit "Create my account" %>
<% end -%>

