<% title @user.name -%>

<% if @user.accounts.length == 0 %>
	<% if @user == current_user %>
		<p>You are not linked to any server yet, <%= link_to "click here to add an account!", new_account_path %></p>
	<% else %>
		<p>This user is not linked to any servers yet</p>
	<% end %>
<% else %>
	<p>Active on:</p>
	<table class="table">
		<thead>
			<tr>
				<th>Server</th>
				<th>Username</th>
				<th>Solved problems</th>
				<th>Score</th>
				<% if logged_in? and @user == current_user %>
					<th></th>
				<% end %>
			</tr>
		</thead>
		<% @user.accounts.each do |a| -%>
			<tr>
				<td><%= link_to a.server.name, a.server %></td>
				<td><%= link_to a.name, a %></td>
				<td><%= a.solvedProblems %></td>
				<td><%= a.score %></td><!-- TODO: replace with rank -->
				<% if logged_in? and @user == current_user %>
					<td><%= link_to a, method: :delete, data: {confirm: "Are you sure?"} do %> <span class="fa fa-times"></span><% end %></td>
				<% end %>
			</tr>
		<% end -%>
	</table>

	<% if false and @user == current_user %> <!-- TODO: remove for multi-server support -->
		<%= link_to new_account_path do %>
			<button class="btn btn-default">Add account</button>
		<% end %>
	<% end %>
<% end %>

