<% title @user.name -%>

<% if @user.accounts.length == 0 %>
	<% if @user == current_user %>
		<p>You are not linked to any server yet, <%= link_to "click here to add an account!", new_account_path %></p>
	<% else %>
		<p>This user is not linked to any servers yet</p>
	<% end %>
<% else %>
	<p>Active on:</p>
	<table class="table">
		<thead>
			<tr>
				<th>Server</th>
				<th>Username</th>
				<th>Solved problems</th>
				<th>Score</th>
				<% if logged_in? and @user == current_user %>
					<th></th>
				<% end %>
			</tr>
		</thead>
		<% @user.accounts.each do |a| -%>
			<tr>
				<td><%= link_to a.server.name, a.server %></td>
				<td><%= link_to a.name, a %></td>
				<td><%= a.solvedProblems %></td>
				<td><%= a.score %></td><!-- TODO: replace with rank -->
				<% if logged_in? and @user == current_user %>
					<td class="unlink-account-start" data-accid="<%= a.id %>" data-accname="<%= a.name %>" data-server="<%=a.server.name %>"><span class="fa fa-times"></span></td>
				<% end %>
			</tr>
		<% end -%>
	</table>

	<% if @user == current_user and @user.accounts.length < Server.all.size %> <!-- TODO: remove for multi-server support -->
		<%= link_to new_account_path do %>
			<button class="btn btn-default">Add account</button>
		<% end %>
	<% end %>

	<% if current_user == @user %>
		<div id="account-unlink-confirm" class="modal" tabindex="-1" role="dialog" aria-labelledby="confirmUnlink">
			<div class="modal-dialog" role="document">
				<div class="modal-content" role="document">
					<div class="modal-header">
						<button class="close fa fa-lg fa-times" data-dismiss="modal" aria-label="Cancel"></button>
						<h4 id="account-unlink-confirm-title" class="modal-title">Confirm unlinking accounts</h4>
					</div>
					<div class="modal-body">
						<p id="account-unlink-confirm-text">
						
						</p>
					</div>
					<div class="modal-footer">
						<button class="btn btn-default" data-dismiss="modal" aria-label="Cancel">Cancel</button>
						<button id="account-unlink-confirm-button" class="btn btn-primary">Unlink accounts</button>
					</div>
				</div>
			</div>
		
		</div>

		<div id="account-unlink-form">
			<%= form_tag '/accounts', method: :delete do %>
				<%= hidden_field_tag 'id' %>
			<% end %>
		</div>
	<% end %>
<% end %>

