<% title @user.name -%>

<% if @user.accounts.length == 0 %>
	<% if @user == current_user %>
		<p>You are not linked to any server yet, <%= link_to "click here to add an account!", new_account_path %></p>
	<% else %>
		<p>This user is not linked to any servers yet</p>
	<% end %>
<% else %>
	<p>Active on:</p>
	<table class="table">
		<thead>
			<tr>
				<th>Server</th>
				<th>Username</th>
				<th>Solved problems</th>
				<th>Score</th>
				<% if logged_in? %>
					<th></th>
				<% end %>
			</tr>
		</thead>
		<% @user.accounts.each do |a| -%>
			<tr>
				<td><%= link_to a.server.name, a.server %></td>
				<td><%= a.name %></td>
				<td><%= a.solvedProblems %></td>
				<td><%= a.score %></td><!-- TODO: replace with rank -->
				<% if logged_in? %>
					<td><%= link_to account_path, method: :delete, confirm: "Are you sure?" do %> <span class="fa fa-times"></span><% end %></td>
				<% end %>
			</tr>
		<% end -%>
	</table>

	<% if @user == current_user %>
		<%= link_to new_account_path do %>
			<button class="btn btn-default">Add account</button>
		<% end %>
	<% end %>
<% end %>

