<table class="table">
	<thead>
		<tr>
			<th>Accepted?</th>
			<th>Problem</th>
			<th>User</th>
			<th>Submitted</th>
		</tr>
	</thead>
	<tbody>
		<% submissions.each do |submission| %>
			<tr class="<%= 'active' if user_account(submission.problem.server_id) == submission.account %>" >
				<td><span class="fa <%= submission.icon %>"></span></td>
				<td><%= link_to submission.problem.display_name, kaas_path(submission.problem.server_id, submission.problem.short_name) %></td>
				<td><%= link_to submission.account.name, submission.account -%></td>
				<td><%= distance_of_time_in_words Time.current, submission.created_at -%> ago</td>
			</tr>
		<% end %>
	</tbody>
</table>
