<h1 class="page-title-top">Available Achievements</h1>
<div class="container">
		<table id="targetTable" class="table" width="100%">
			<thead>
				<tr>
					<th width="5%">Tier</th>
					<th width="25%">Title</th>
					<th>Description</th>
					<% if not current_user.nil? and current_user.admin %> <th>Edit</th> <% end %>
				</tr>
			</thead>
			<% @achievement_data.each do |a| -%>
				<tr>
					<td> <p style="display: none;"><%= a.tier %></p> <img src= <%= @shield_files[a.tier - 1]%> style="width: 80%; height: auto;"> </td>
					<td><%= a.title -%></td>
					<td><%= a.description -%></td>
					<% if not current_user.nil? and current_user.admin %> <td><%= link_to "Edit", {controller: "/achievement_datum", action: "show", id: a.id}, class:"nav-link tempitem" %></td> <% end %>
				</tr>
			<% end -%>
		</table>
</div>
