<% if @ach["id"].nil? %>
<h1>Add achievement</h1>
<% else %>
<h1>Edit achievement</h1>
<% end %>

<div class="container">
  <%= form_tag({:controller => 'achievement_datum', :action => 'update'}, method: "post", :id => "edit_achv_form", remote:true) do %>
      <td> <%= hidden_field_tag(:id, @ach["id"]) %> </td> 
    <table>
      <tr>
        <td> <%= label_tag(:title, "Title:") %> </td>
        <td> <%= text_field_tag(:title, @ach["title"]) %> </td> 
      </tr>

      <tr>
        <td> <%= label_tag(:description, "Description:") %> </td>
        <td><%= text_area_tag(:description,   @ach["description"], size: "35x2") %></td>
      </tr>

      <tr>
        <td> <%= label_tag(:problems, "Problems:") %> </td>
        <td><%= text_area_tag(:problems,  @ach.problem_entries.map {|p| p.value}.join(", ") , size: "35x2") %></td>
      </tr>

      <tr>
        <td> <%= label_tag(:levels, "Levels:") %> </td>
        <td><%= text_area_tag(:levels,  @ach.level_entries.map {|p| p.value}.join(", ") , size: "35x2") %></td>
      </tr>

      <tr><td><h5>Variable related</h5></td></tr>
      <tr>
        <td>  <%= label_tag(:variable_enabled, "Enabled:") %> </td>
        <td> <%=check_box_tag :variable_enabled, 'yes', (not @ach["variable"].nil? ) %> </td>
      </tr>
      <tr>
        <td>  <%= label_tag(:variable, "Variable:") %> </td>
        <td> <%= select_tag(:variable, options_for_select([['ranking', 'ranking'], ['solvedProblems', 'solvedProblems']], @ach['variable']))%> </td>
        <td> <p style="font-style: italic; display:inline;">This is a short test.</p> </td>
      </tr>

      <tr>
        <td><%= label_tag(:comparison, "Comparison:") %> </td>
        <td> <%= select_tag(:comparison,options_for_select([['>=', ">="], ['<=', "<="], ["==", "=="]], @ach['comparison']))%> </td>
        <td> <p style="font-style: italic; display:inline;">This is a short test.</p> </td>
      </tr>

      <tr>
        <td><%= label_tag(:variable_value, "Value:") %> </td>
        <td> <%= text_field_tag(:variable_value, @ach['value']) %> </td>
        <td> <p style="font-style: italic; display:inline;">This is a short test.</p> </td>
      </tr>
    </table>    

    <%= submit_tag("Update") %>
  <% end %>  
  <%= button_to "Process achievements", { action: "reprocess", all: false },
                                method: :post, data: { confirm: "Are you sure?" } %>
  <%= button_to "Reprocess all achievements", { action: "reprocess", all: true },
                                method: :post, data: { confirm: "Are you sure? This is going to take a while.." } %>
</div>