<!DOCTYPE html>
<html>
	<head>
		<title><%= content_for(:title) + ' | ' if content_for?(:title)%>K2 Scoreboard</title>
		<%= csrf_meta_tags %>
		<%= favicon_link_tag 'favicon.png' , type: 'image/png' %>
		<%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<body>
		<!-- Navigation bar -->
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Root link and hamburger toggle -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#hamburger" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">K2</a>
				</div>

				<!-- Other menu items -->
				<div id="hamburger" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<%= menu_link_to "Problems", problems_path, "problems" -%>
						<%= menu_link_to "Servers", servers_path, "servers" -%>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<%- if logged_in? -%>
							<%= menu_link_to current_user.name, current_user, "users" -%>
							<li><%= link_to "Log out", logout_path, method: :delete -%></li>
						<%- else -%>
							<%= menu_link_to "Sign up", signup_path, "users" -%>
							<%= menu_link_to "Log in", login_path, "sessions" -%>
						<%- end -%>
					</ul>
				</div>

			</div>
		</nav>
		<!-- End of Navigation bar -->


		<!-- Main Content -->
		<div class="container" id="main-content">
			<!-- Header -->
			<%- if content_for?(:header) %>
				<div class="page-header">
					<h1><%= content_for :header-%>
					<% if content_for?(:sub_header) -%>
						<small><%= content_for :sub_header -%></small>
					<% end -%>
					</h1>
				</div>
			<%- end %>

			<% flash.each do |message_type, message| %>
				<div class="alert alert-<%= message_type -%>"><%= message %></div>
			<% end %>
			
			<%= yield %>

			<% if Rails.env.development? %>
				<%= debug(params) %>
				<%= console %>
			<% end %>
		</div>
		<!-- End of Main Content -->
	</body>
</html>
