<!DOCTYPE html>
<html>
	<head>
		<title><%= content_for(:title) + ' | ' if content_for?(:title)%>K2 - CPPS Training</title>
		<%= csrf_meta_tags %>
		<%= favicon_link_tag 'favicon.png' , type: 'image/png' %>
		<%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<script type="text/javascript" src="http://code.highcharts.com/stock/highstock.js"></script>
	</head>

	<body>

		<!-- Navigation bar -->
<nav class="navbar navbar-expand-xl navbar-inverse navbar-dark bg-dark fixed-top nopad">
<a id="logo" class="navbar-brand" href="/">K2</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#targetToggler" aria-controls="targetToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="targetToggler">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="menuitem ">
        <%= link_to "Leaderboard", {controller: "/leaderboard", action: "show"}, class: "nav-link" -%>
      </li>
      <li class="menuitem ">
        <%= link_to "Feed", {controller: "/dashboard", action: "index"}, class:"nav-link" -%>
      </li>
      <li class="menuitem ">
        <%= link_to "Problems", problems_path, class:"nav-link" -%>
      </li>
	<%- if signed_in? -%>
	<li class="menuitem">
        <%= link_to "Submissions", {controller: "/submissions", action: "show"}, class:"nav-link" -%>
      </li>
	<%- end -%>
      <!-- Temporary DOMJudge link -->
      <li class="menuitem" data-turbolinks="false">
        <%= link_to "DOMJudge", "/domjudge", class:"nav-link" -%>
      </li>
      <li class="menuitem">
        <%= link_to "Help", {controller: "/help", action: "show"}, class:"nav-link" -%>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input id="search" class="form-control mr-sm-2" type="text" placeholder="Search K2">
      <button class="btn my-2 my-sm-0" type="submit">Search</button>
    </form>
    <ul class="navbar-nav">
      <li class="menuitem my-2 my-sm-0">
	<%- if signed_in? -%>
		<%= link_to "Log out #{current_user.name}", destroy_user_session_path, method: :delete, class:"nav-link" -%>
	<%- else -%>
		<%= link_to "Log in", new_user_session_path, class:"nav-link" -%>
	<%- end -%>
      </li>
    </ul>
  </div>
</nav>
		<!-- End of Navigation bar -->


		<!-- Main Content -->
		<div class="pad-bottom">
		<div class="container" id="main-content">
			<!-- JS Disabled warning -->
			<noscript>
				<div class="alert alert-danger">
					You are using an browser without JavaScript support or with JavaScript disabled. Some features on this page need JavaScript. In case of problems, please enable JavaScript.
				</div>
			</noscript>

			<% if flash.empty? and motd %>
				<div class="alert alert-<%= motd_type %>"><%= motd %></div>
			<% end %>

			<!-- Header -->
			<%- if content_for?(:header) %>
				<div class="page-header">
					<h1><%= content_for :header-%>
					<% if content_for?(:sub_header) -%>
						<small><%= content_for :sub_header -%></small>
					<% end -%>
					</h1>
				</div>
			<%- end %>

			<%# HACK: The if/else is for devise flashes %>
			<% flash.each do |message_type, message| %>
				<div class="alert alert-<% if message_type == 'notice'%>info<% elsif message_type == 'alert' %>danger<% else %><%= message_type -%><% end %>"><%= message %></div>
			<% end %>
			<%= yield %>

		</div>
		</div>
		<!-- End of Main Content -->
		<footer class="footer row pad-top">
				<div class="col-8">
					<p class="text-muted">K2, find problems the easy way. © K2 Developers 2018
						<small class="text-muted"><%= Rails.application.config.version %></small>
					</p>
				</div>
				<div class="col-4 footer-icons text-muted">
					<a href="https://github.com/cpps/k2"><i class="fab fa-lg fa-github text-muted"></i></a>
				</div>
		</footer>
	</body>
</html>
