<% title @account.name -%>

<ul id="account-tabs" class="nav nav-tabs" role="tablist">
	<!-- <li class="active" role="presentation"><a href="#recent" aria-controls="recent" role="tab" data-toggle="tab" class="px-2">Recently solved</a></li> -->
	<% if @show_compare %>
		<li class="active" role="presentation"><a href="#all" aria-controls="all" role="tab" data-toggle="tab" class="px-2">Solved problems</a></li>
		<li role="presentation"><a href="#compare" aria-controls="all" role="tab" data-toggle="tab" class="px-2">Compare problems</a></li>
	<% end %>
	<li role="presentation"><a href="#achievements" aria-controls="all" role="tab" data-toggle="tab" class="px-2">Achievements</a></li>
</ul>

<!--<p>Solved problems: <%= @account.solvedProblems -%></p>-->
<div class="tab-content container-fluid">
	<!-- <div id="recent" class="tab-pane active" role="tabpanel">
		<table class="table">
			<% @submissions.each do |s| %>
				<tr>
					<td><%= link_to s.problem.short_name, kaas_path(s.problem.server_id, s.problem.short_name) %></td>
					<td><%= s.problem.name %></td>
					<td><%= distance_of_time_in_words Time.now, s.created_at -%> ago</td>

				</tr>

			<% end %>
		</table>
	</div> -->

	<div id="all" class="tab-pane active" role="tabpanel">
		<table id="targetTable" class="table">
			<thead>
				<tr>
					<th>Short Name</th>
					<th>Name</th>
					<th>Time</th>
					<th style="display:none;">HiddenTimeStamp</th>
				</tr>
			</thead>
			<% @problems.each do |p| %>
				<tr>
					<td><%= link_to p.short_name, kaas_path(p.server_id, p.short_name) -%></td>
					<td><%= p.name -%></td>
					<td><%= distance_of_time_in_words Time.now, p.submissions.last.created_at -%> ago</td>
					<td style="display:none;"><%= p.submissions.last.created_at -%> ago</td>
				</tr>
			<% end %>
		</table>
	</div>

	<% if @show_compare%>
		<div id="compare" class="tab-pane row ver-pad">
			<div class="col">
				<h5>Problems only <%= @account.name %> has solved</h5>
				<% if @their_exclusive_problems.empty? %>
					<p>There are none</p>
				<% else %>
					<table class="table">
						<% @their_exclusive_problems.each do |p| %>
							<tr>
								<td><%= link_to p.short_name, kaas_path(p.server_id, p.short_name) -%></td>
								<td><%= p.name -%></td>
							</tr>
						<% end %>
					</table>
				<% end %>
			</div>
			<div class="col">
				<h5>Problems only <%= @current_user_account.name %> has solved</h5>
				<% if @my_exclusive_problems.empty? %>
					<p>No problems solved yet.</p>
				<% else %>
					<table class="table">
						<% @my_exclusive_problems.each do |p| %>
							<tr>
								<td><%= link_to p.short_name, kaas_path(p.server_id, p.short_name) -%></td>
								<td><%= p.name -%></td>
							</tr>
						<% end %>
					</table>
				<% end %>
			</div>
		</div>
	<% end %>

	<% if not @achievements.nil? %>
		<div id="achievements" class="tab-pane" role="tabpanel">

			<h2>Levels</h2>
			<% @levels.each do |a| %>	
				<div style="position: relative; float:left; margin: 15px;">
					<img style="width:200px" src="\assets\medal.png">
					<div style="position: absolute; top: 38px; width: 100%">
						<div style= "width: 85%; margin: auto;">
							<p style="margin: auto; width: 75%; font-size: 20px; text-align: center">Level <%= a[:level] %></p>
							<p style="text-align: center; font-weight: 900; font-size: 25px;"><%= a[:name] %></p>
						
							<p style="margin: auto; width: 75%; font-size: 14px; font-style: italic; text-align: center"> <%= a[:date].strftime("%B #{a[:date].day.ordinalize}, %Y")  %> </p>		
						</div>		
					</div>		
					<p style= "text-align: center; font-style: italic; font-size: 14px">Next problem: <a href="#"><%= a[:next_problem] %></a> </p>
				</div>
			<% end %>
			<div style="clear:both;"></div>
			<h2>Achievements</h2>
			<% @achievements.each do |a| %>	
				<div style="position: relative; float:left; margin: 15px;">
					<img src="\assets\badge.png">
					<div style="position: absolute; top: 35px; width: 100%">
						<div style= "width: 85%; margin: auto;">
							<h3 style="text-align: center; font-weight: 900; font-size: 25px; height: 50px"><%= a["title"] %></h3>
							<p style="margin: auto; width: 75%; height: 70px; font-size: 14px; text-align: center"> <%= a["description"] %> </p>
							<p style="margin: auto; width: 75%; font-size: 14px; font-style: italic; text-align: center"> <%= a["date_of_completion"].strftime("%B #{a["date_of_completion"].day.ordinalize}, %Y")  %> </p>		
						</div>		
					</div>		
				</div>
			<% end %>

			<%= high_chart_globals(@chart_globals) %>
			<%= high_chart("some_id", @chart) %>
		</div>
	<% end %>
</div>
